<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Administrator SIMPKH 2017</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <object th:include="template/style:: style" th:remove="tag" ></object>
  <object th:include="template/jscript:: jscript" th:remove="tag" ></object>
   <style type="text/css">
   	a.export, a.export:visited, a.cari, a.cari:visited {
 	   display: inline-block;
    	text-decoration: none;
    	color:#000;
   	 	background-color:#ddd;
    	border: 1px solid #ccc;
    	padding:8px;
	}
   </style>
   <script th:inline="javascript">
	
  $(document).ready(function(){
	  $('#kodePropinsi').change(function() {
			
		    $.ajax({
		        type:"GET",
		        url : "/getKabupatenValues",
		        data : { state: $('#kodePropinsi').val()},
		        success : function(data) {
		        	var listItems= "<option value=''></option>";
		            $('#kodeKabupaten').empty(); //remove all child nodes
		            $.each(data, function(key, value) {
		            	console.log(value);
		            	console.log(key);
		                  listItems+= "<option value='" + key + "'>" + value + "</option>";
		         }); 
		            $("#kodeKabupaten").html(listItems);
		        },
		        
		        error: function() {
		            alert('Error occured');
		        }
		    });
		});
	  $('#kodeKabupaten').change(function() {
			
		    $.ajax({
		        type:"GET",
		        url : "/getKecamatanValues",
		        data : { state: $('#kodeKabupaten').val()},
		        success : function(data) {
		        	var listItems= "<option value=''></option>";
		            $('#kodeKecamatan').empty(); //remove all child nodes
		            $.each(data, function(key, value) {
		                  listItems+= "<option value='" + key + "'>" + value + "</option>";
		         }); 
		            $("#kodeKecamatan").html(listItems);
		        },
		        
		        error: function() {
		            alert('Error occured');
		        }
		    });
		});
	});		
    
</script>
   <script type="text/javascript">
   		$(document).ready(function(){
   			function exportTableToCSV($table, filename) {

   		        var $rows = $table.find('tr:has(td)'),

   		            // Temporary delimiter characters unlikely to be typed by keyboard
   		            // This is to avoid accidentally splitting the actual contents
   		            tmpColDelim = String.fromCharCode(11), // vertical tab character
   		            tmpRowDelim = String.fromCharCode(0), // null character

   		            // actual delimiter characters for CSV format
   		            colDelim = '","',
   		            rowDelim = '"\r\n"',

   		            // Grab text from table into CSV formatted string
   		            csv = '"' + $rows.map(function (i, row) {
   		                var $row = $(row),
   		                    $cols = $row.find('td');

   		                return $cols.map(function (j, col) {
   		                    var $col = $(col),
   		                        text = $col.text();

   		                    return text.replace(/"/g, '""'); // escape double quotes

   		                }).get().join(tmpColDelim);

   		            }).get().join(tmpRowDelim)
   		                .split(tmpRowDelim).join(rowDelim)
   		                .split(tmpColDelim).join(colDelim) + '"';

   						// Deliberate 'false', see comment below
   		        if (false && window.navigator.msSaveBlob) {

   								var blob = new Blob([decodeURIComponent(csv)], {
   			              type: 'text/csv;charset=utf8'
   		            });
   		            
   		            // Crashes in IE 10, IE 11 and Microsoft Edge
   		            // See MS Edge Issue #10396033: https://goo.gl/AEiSjJ
   		            // Hence, the deliberate 'false'
   		            // This is here just for completeness
   		            // Remove the 'false' at your own risk
   		            window.navigator.msSaveBlob(blob, filename);
   		            
   		        } else if (window.Blob && window.URL) {
   								// HTML5 Blob        
   		            var blob = new Blob([csv], { type: 'text/csv;charset=utf8' });
   		            var csvUrl = URL.createObjectURL(blob);

   		            $(this)
   		            		.attr({
   		                		'download': filename,
   		                		'href': csvUrl
   				            });
   						} else {
   		            // Data URI
   		            var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

   					$(this).attr({
   		               		  'download': filename,
   		                    'href': csvData,
   		                    'target': '_blank'
   		            		});
   		        }
   		    }
   			
   			$(".export").on('click', function (event) {
 		       // CSV
 		       //var args = [$('#dvData>table'), 'export.csv'];
 		       //var args = [$('#example2'), 'export.csv'];
 		       //exportTableToCSV.apply(this, args);
 		       $.ajax({
 		    	   type:"GET",
 		    	   url:"/export/export.csv",
 		    	   success:function(data){
 		    		   alert(data);
 		    	   },
 		    	   error:function() {
  			            alert('Error occured');
  			        }
 		       });
 		   });
   			$(".cari").on('click',function(event){
   		    	$.ajax({
   			        type:"GET",
   			        url : "/getExport",
   			        data : {prov:$('#kodePropinsi').val(),
   			        	kab:$('#kodeKabupaten').val(),
   			        	kec:$("#kodeKecamatan").val()},
   			        success : function(data) {
   			        	//alert(data);
   			        	$("#dvData").html(data);
   			        	$("#example2").DataTable({
   			        		extend: 'csvHtml5',
   			             	text: 'Copy all data',
   			             	exportOptions: {
   			                 	modifier: {
   			                    	 search: 'none'
   			                 	}
   			             }
   			        	});
   			        },
   			        
   			        error: function() {
   			            alert('Error occured');
   			        }
   			    });
   			    //alert('masuk');
   		    });
   		});
		   
   </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <div th:include="template/topmenu :: topmenu"></div>

  <!-- =============================================== -->

  
 <div class="kontentable">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data KPM
      </h1>
<!--      <ol class="breadcrumb">
        <li><a href="home.php"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Data Pelamar</li>
      </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="row">

              <!-- Filter -->
                <form class="form-horizontal" action="#" method="post" th:action="@{/registration}" th:object="${user}">
                  <div class="box-body">
                    <div class="form-group">
                      <label  class="col-sm-1 control-label">Provinsi</label>
                      <div class="col-sm-3">
                     	 <select id="kodePropinsi" class="form-control" th:field="*{kodePropinsi}" name="kodePropinsi" >
					       <option th:each="prop : ${allPropinsi}" th:value="${prop.kode}" th:text="${prop.name}">Propinsi</option>
					     </select>
                      </div>
                      
                      <label  class="col-sm-1 control-label">Kabupaten</label>
                      <div class="col-sm-3">
                        <select id="kodeKabupaten" class="form-control" th:field="*{kodeKabupaten}" name="kodeKabupaten">
                         
                        </select>
                      </div>
                      
                      <label  class="col-sm-1 control-label">Kecamatan</label>
                      <div class="col-sm-3">
                        <select id="kodeKecamatan" class="form-control" th:field="*{kodeKecamatan}" name="kodeKecamatan">
                         
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label  class="col-sm-1 control-label">Pendamping</label>
                     <div class="col-sm-3">
                     	 <select id="kodePendamping" class="form-control" name="kdpendamping" >
					       <option th:each="pend : ${allPendamping}" th:value="${pend.kdpendamping}" th:text="${pend.nmpendamping}">Propinsi</option>
					     </select>
                      </div>

                      <label for="input" class="col-sm-1 control-label">Status</label>
                      <div class="col-sm-3">
                        <select class="form-control" id="status">
                          <option selected="selected">All</option>
                          <option>Entry</option>
                          <option>Empty</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-3 col-sm-offset-1">
                     <!--   <button class="btn btn-default" type="button" id="bcari">Cari</button>
                         <button class="btn btn-default" type="button" id="export">Export Data</button>  -->
                         <a href="#" class="cari">Cari</a>
                        <a href="#" class="export">Export to csv</a> 
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </form>
                
              </div>
            </div>
            
            <!-- /.box-header -->
            <div class="box-body" th:fragment="resultsList" id="dvData">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No KPM</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Jumlah Anggota Keluarga</th>
                    <th>Tahun Keikutsertaa</th>
                    <th>Nama Pendamping</th>
                  </tr>
                </thead>
                <tbody>
                	<tr th:each="data:${list}">
                		<td th:text="${data[0]}"></td>
                		<td th:text="${data[1]}"></td>
                		<td th:text="${data[2]}"></td>
                		<td th:text="${data[3]}"></td>
                		<td th:text="${data[4]}"></td>
                		<td th:text="${data[5]}"></td>
                	</tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </div>


  <div th:include="template/footer :: footer"/>

</div>
<!-- ./wrapper -->

</body>
</html>
