<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Administrator SIMPKH 2017</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <object th:include="template/style:: style" th:remove="tag" ></object>
  <object th:include="template/jscript:: jscript" th:remove="tag" ></object>
  <script th:inline="javascript">
	
  $(document).ready(function(){
	  $('#kodePropinsi').change(function() {
			
		    $.ajax({
		        type:"GET",
		        url : "/getKabupatenValues",
		        data : { state: $('#kodePropinsi').val()},
		        success : function(data) {
		        	var listItems= "";
		            $('#kodeKabupaten').empty(); //remove all child nodes
		            $.each(data, function(key, value) {
		            	console.log(value);
		            	console.log(key);
		                  listItems+= "<option value='" + key + "'>" + value + "</option>";
		         }); 
		            $("#kodeKabupaten").html(listItems);
		        },
		        
		        error: function() {
		            alert('Error occured');
		        }
		    });
		});
	  $('#kodeKabupaten').change(function() {
			
		    $.ajax({
		        type:"GET",
		        url : "/getKecamatanValues",
		        data : { state: $('#kodeKabupaten').val()},
		        success : function(data) {
		        	var listItems= "<option value=''></option>";
		            $('#kodeKecamatan').empty(); //remove all child nodes
		            $.each(data, function(key, value) {
		                  listItems+= "<option value='" + key + "'>" + value + "</option>";
		         }); 
		            $("#kodeKecamatan").html(listItems);
		        },
		        
		        error: function() {
		            alert('Error occured');
		        }
		    });
		});
	});		
    
</script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->

  
<div th:include="template/topmenu :: topmenu"></div>
  <!-- =============================================== -->

 <div class="container">
 			
 	<form class="form-horizontal" action="#" method="post" th:action="@{/registration}" th:object="${user}">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Username</label>  
  <div class="col-md-4">
  <input id="textinput" name="username" type="email" th:field="*{username}" placeholder="Email..." class="form-control input-md">
   
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Password</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="password" th:field="*{password}" placeholder="Password..." class="form-control input-md">
   
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Full Name</label>  
  <div class="col-md-4">
  <input id="textinput" name="namefull" type="text" th:field="*{fullName}" placeholder="Name..." class="form-control input-md">
   
  </div>
</div>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic" >Provinsi</label>
  <div class="col-md-4">
    <select id="kodePropinsi" class="form-control" th:field="*{kodePropinsi}" name="kodePropinsi" >
       <option th:each="prop : ${allPropinsi}" th:value="${prop.kode}" th:text="${prop.name}">Propinsi</option>
     </select>
  </div>
</div>



<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Kabupaten</label>
  <div class="col-md-4">
      
      <select id="kodeKabupaten" class="form-control" th:field="*{kodeKabupaten}" name="kodeKabupaten">
      
     </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Kecamatan</label>
  <div class="col-md-4">
    
      <select id="kodeKecamatan" class="form-control" th:field="*{kodeKecamatan}" name="kodeKecamatan">
      <!--   <option th:each="kec : ${allKecamatan}" th:value="${kec.kode}" th:text="${kec.name}">Propinsi</option>-->
       
     </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Kelurahan</label>
  <div class="col-md-4">
    <select class="form-control" name="kodeKelurahan">
    <!-- 
       <option selected="selected">Ulujami</option>
       <option value="1">Petukangan Utara</option>
       <option value="2">Petukangan Selatan</option>
       <option value="3">Pesanggrahan</option>
       <option value="4">Bintaro</option>  -->
       
     </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Account Status</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Expired</option>
      <option value="2">Locked</option>
    </select>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Clear</button>
  </div>
  
</div>

</fieldset>
<span th:utext="${successMessage}"></span>
</form>
 	
  </div>
		
      </div>

  <!-- /.content-wrapper -->
  <div th:include="template/footer :: footer"> </div>
  

</body>
</html>
