<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Administrator SIMPKH 2017</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <object th:include="template/style:: style" th:remove="tag" />
  <object th:include="template/jscript:: jscript" th:remove="tag" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->

  
<div th:include="template/topmenu :: topmenu"></div>
  <!-- =============================================== -->

 <div class="container">
 			
 	<form class="form-horizontal" action="#" th:action="@{/edituser}" th:object="${user}">
<fieldset>

<!-- Form Name -->
<legend>User Edit</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Username</label>  
  <div class="col-md-4">
  <input id="textinput" name="username" type="email" th:field="*{username}" placeholder="Email..." class="form-control input-md">
   
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Password</label>  
  <div class="col-md-4">
  <input id="textinput" name="password" type="password" th:field="*{password}" placeholder="Password..." class="form-control input-md">
   
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Full Name</label>  
  <div class="col-md-4">
  <input id="textinput" name="namefull" type="text" th:field="*{fullName}" placeholder="Name..." class="form-control input-md">
   
  </div>
</div>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Provinsi</label>
  <div class="col-md-4">
    <select class="form-control">
       <option selected="selected" th:value="*{kodePropinsi}" name="kodePropinsi">Jawa Barat</option>
       <option value="1">Sumatera Utara</option>
       <option value="2">Sumatera Barat</option>
       <option value="3">Bengkulu</option>
       <option value="4">Jambi</option>
     </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Kelurahan</label>
  <div class="col-md-4">
    <select class="form-control">
       <option selected="selected" th:value="*{kodeKelurahan}" name="kodeKelurahan">Ulujami</option>
       <option value="1">Petukangan Utara</option>
       <option value="2">Petukangan Selatan</option>
       <option value="3">Pesanggrahan</option>
       <option value="4">Bintaro</option>
     </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Kabupaten</label>
  <div class="col-md-4">
    <select class="form-control">
      <option selected="selected" th:value="*{kodeKabupaten}" name="kodeKabupaten">Bogor</option>
      <option value="1">Sukabumi</option>
      <option value="2">Cianjur</option>
      <option value="3">Garut</option>
      <option value="4">Tasikmalaya</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Kecamatan</label>
  <div class="col-md-4">
    <select class="form-control" >
      <option selected="selected" th:value="*{kodeKecamatan}" name="kodeKecamatan">Cibinong</option>
      <option value="1">Citeurep</option>
      <option value="2">Gunung Putri</option>
      <option value="3">Jonggol</option>
      <option value="4">Cileungsi</option>
    </select>
  </div>
</div>

<input id="text" name="id" type="hidden" th:field="*{id}">
  

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Update</button>
  </div>
  
</div>

</fieldset>
<span th:utext="${successMessage}"></span>
</form>
 	
  </div>
		
      </div>

  <!-- /.content-wrapper -->
  <div th:include="template/footer :: footer"> </div>
  

</body>
</html>
