<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Administrator SIMPKH 2017</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <object th:include="template/style:: style" th:remove="tag" />
  <object th:include="template/jscript:: jscript" th:remove="tag" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->

  
<div th:include="template/topmenu :: topmenu"></div>
  <!-- =============================================== -->

 <div class="container">
 			
 	<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtEmail">Username</label>  
  <div class="col-md-4">
  <input id="txtEmail" name="txtEmail" type="email" placeholder="Email..." class="form-control input-md">
   
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtPass">Password</label>  
  <div class="col-md-4">
  <input id="txtPass" name="txtPass" type="password" placeholder="Password..." class="form-control input-md">
   
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtFullname">Full Name</label>  
  <div class="col-md-4">
  <input id="txtFullname" name="txtFullname" type="text" placeholder="Name..." class="form-control input-md">
   
  </div>
</div>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Provinsi</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">....</option>
      <option value="2">....</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Kelurahan</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">....</option>
      <option value="2">....</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Kabupaten</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">....</option>
      <option value="2">....</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Kecamatan</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">....</option>
      <option value="2">....</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Account Status</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Expired</option>
      <option value="2">Locked</option>
    </select>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Clear</button>
  </div>
  
</div>

</fieldset>
</form>
 	
  </div>
		
      </div>

  <!-- /.content-wrapper -->
  <div th:include="template/footer :: footer"> </div>
  

</body>
</html>
