<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Administrator SIMPKH 2017</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <object th:include="template/style:: style" th:remove="tag" />
  <object th:include="template/jscript:: jscript" th:remove="tag" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->


  <div th:include="template/topmenu :: topmenu"/>

  <!-- =============================================== -->

  
  <div style="height: 600px">
      
  </div>

  <!-- /.content-wrapper -->

  <div th:include="template/footer :: footer"/>
  

<!-- ./wrapper -->


</body>
</html>
