<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Administrator SIMPKH 2017</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <object th:include="template/style:: style" th:remove="tag" />
  <object th:include="template/jscript:: jscript" th:remove="tag" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->

  
<div th:include="template/topmenu :: topmenu"></div>
  <!-- =============================================== -->

 <div class="container">
 
		<div class='col-sm-4 col-xs-12 pull-right' style='margin-top:5px;margin-bottom:5px'>
			<div class="input-group pull-right">
				<input type="text" name="cari" id='cari' class="form-control col-sm-5 col-xs-12 input" placeholder="Search Title . . ." onchange='pageLoad(1)'>
				<div class="input-group-btn">
					<button class="btn btn-default"><i class="glyphicon glyphicon-search"></i> Search</button>
				</div>
			</div>
		</div>
        <div class='row'>
		<div class='col-sm-12'>
			<table class="table table-bordered" style='font-size:12px'>
				<tr class="bg-aqua" >
					<th style='width:5%;text-align:center'>No</th>
					<th style='width:35%;text-align:center'>Judul</th>
					<th style='width:15%;text-align:center'>Tanggal</th>
					<th style='width:10%;text-align:center'>Status Publish</th>
					<th style='width:10%;text-align:center'>Status Aktif</th>
					<th style='width:25%;text-align:center'>Aksi</th>
				</tr>
				
					<tr>
						<td align='center'>1</td>
						<td><a href="">test</a></td>
						<td align='center'>test</td>
						<td align='center'>test</td>
						<td align='center'>test</td>
						<td>
							<center>
								<a href="" class="btn btn-info btn-sm" ><i class='glyphicon glyphicon-edit'></i> Edit </a>
								<a href="" class="btn btn-warning btn-sm" onclick="return confirm('Apakah anda yakin akan menghapus data ini ?')" ><i class='glyphicon glyphicon-trash'></i> Delete </a>
							</center>
						</td>
					</tr>
			</table>
			<input type='hidden' id='current' name='current' value=''>
			<input type='hidden' id='last' name='last' value=''>
		</div>
	</div>
      </div>

  <!-- /.content-wrapper -->
  <div th:include="template/footer :: footer"> </div>
  

</body>
</html>
